body {
  margin: 0;
  padding: 10px;
  min-width: 400px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #5f9341;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #5f9341;
  transition: all 100ms ease-in-out;
}
button:hover {
  opacity: 0.8;
}
#delete-btn {
  background-color: white;
  color: #5f9341;
}
#input-el {
  border: 1px solid #5f9341;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  /* box-sixing padding içinde kalacak şekilde 100% yapıyor*/
  box-sizing: border-box;
}
ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}
li {
  margin-top: 5px;
}
a {
  color: #5f9341;
}
